:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  
  body {
    margin: 0;
    display: flex;
    place-items: center;
    /* min-width: 320px;
    min-height: 100vh; */
  }
  
  /* Header */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 3rem;
    z-index: 1000; /* Asegura que esté por encima del contenido */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2c3e50;
    color: white;
    text-align: center;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 0;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .navbar a:hover {
    color: #1abc9c;
  }
  
  /* Se oculta la amburguesa */
  .menu-checkbox {
    display: none;
  }
  
  .menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
  }
  
  /* Contenido Principal */
  .main-content {
    display: flex;
    width: 100%;
    min-height: 100vh;
    gap: 2rem;
    padding: 2rem;
    margin: 8rem auto;

  }
  
  .post {

    background: #353434;
    padding: 2rem;
    border-radius: 8px;
  }
  
  .post-section {

    margin-bottom: 2rem;
  }
  
  /* Sidebar */
  .sidebar {

    background: #353434;
    padding: 1.5rem;
    border-radius: 8px;
  }
  
  /* Footer */
  .footer {
    position: fixed;
    height: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 1rem;
    z-index: 1000;
  }
  
  .footer a {
    color: #1abc9c;
  }
  
  
  
  .responsive-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 1rem 0;
  }
  
  .div-content {
    display: flex;
  }
  
    /* amburgesa para movil*/
    @media (max-width: 768px) {
      .menu-icon {
        display: block;
        position: absolute;
        right: 50px; 
        top: 15px; 
      }

      .navbar ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #2c3e50;
        text-align: center;
        padding: 1rem 0;
      }

      .menu-checkbox:checked + .menu-icon + .navbar ul {
        display: grid;
      }

      .navbar ul li {
        display: grid;
        grid-template-rows: repeat(4, auto);
        gap: 1rem;
      }

      
      .navbar ul li:nth-child(1) { order: 4; } 
      .navbar ul li:nth-child(2) { order: 2; } 
      .navbar ul li:nth-child(3) { order: 3; } 
      .navbar ul li:nth-child(4) { order: 1; } 
    }

    /* amburgesa para tablet*/
    @media (min-width: 769px) and (max-width: 992px) {
      .menu-icon {
        display: block;
        position: absolute;
        right: 50px; 
        top: 15px; 
      }

      .navbar ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #2c3e50;
        text-align: center;
        padding: 1rem 0;
      }

      .menu-checkbox:checked + .menu-icon + .navbar ul {
        display: grid;
      }

      .navbar ul li {
        display: grid;
        grid-template-rows: repeat(4, auto);
        gap: 1rem;
      }

      .navbar ul li:nth-child(1) { order: 3; }
      .navbar ul li:nth-child(2) { order: 2; } 
      .navbar ul li:nth-child(3) { order: 1; } 
      .navbar ul li:nth-child(4) { order: 4; } 
    
  }
  